<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ url_for('static', filename='bulma.css') }}">
  <title>武鑑 - Exploring the Bukan Collection</title>
</head>

<body>
  <section class="section">
    <div class="container">
      <h1 class="title"><a href="/">武鑑</a> Exploring the Bukan Collection</h1>
      <p class="subtitle">
        Database of matching pages based on the woodblock used for printing.
      </p>
      <table class="table">
        <thead>
          <tr>
            <td>Book ID</td>
          </tr>
        </thead>
        <tbody>
          {% for book_id in book_ids %}
          <tr>
            <td><a href="/book/{{book_id}}">{{book_id}}</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </section>
</body>

</html>