<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ url_for('static', filename='bulma.css') }}">
  <title>武鑑 Exploring the Bukan Collection</title>
</head>

<body>
  <section class="section">
    <div class="container">
      <h1 class="title">武鑑 Exploring the Bukan Collection</h1>
      <p class="subtitle">
        <a href="/"><ruby>書名<rt>TITLE</rt></ruby></a>
        <span> / </span>
        <a href="/bukan/{{ title[2] }}"><ruby>{{ title[0] }}<rt>{{ title[2].upper() }}</rt></ruby></a>
      </p>
      <p class="content">
        Each row is a match between two Bukan books' pages. Clicking on a table row opens the corresponding visualization.
      </p>
      <table class="table is-narrow is-hoverable">
        <thead>
          <tr>
            <td />
            <td colspan="2">1<sup>st</sup> Book</td>
            <td colspan="2">2<sup>nd</sup> Book</td>
            <td />
          </tr>
          <tr>
            <td />
            <td>ID</td>
            <td>Page</td>
            <td>ID</td>
            <td>Page</td>
            <td>Location</td>
          </tr>
        </thead>
        <tbody>
          {% for book1_id, book1_page, book2_id, book2_page, lr in matches %}
          <tr>
            <td><a href="/bukan/{{title[2]}}/{{book1_id}}/{{book1_page}}/{{book2_id}}/{{book2_page}}/{{lr}}" class="tag is-link is-light">View</a></td>
            <td>{{book1_id}}</td>
            <td>{{book1_page}}</td>
            <td>{{book2_id}}</td>
            <td>{{book2_page}}</td>
            <td >{% if lr == 1 %} right {% elif lr == 2 %} left {% else %} normal {% endif %}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </section>
</body>

</html>