<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ url_for('static', filename='bulma.css') }}">
  <title>武鑑 Exploring the Bukan Collection</title>
  <script src="{{ url_for('static', filename='imageogl.js') }}"></script>
  <script>
    const canvasWidth = {{ width }};
    const canvasHeight = {{ height }};
    const keypoints = {{ keypoints }};
    window.onload = overlayMain;
  </script>
</head>

<body>
  <section class="section">
    <div class="container">
      <h1 class="title">武鑑 Exploring the Bukan Collection</h1>
      <p class="subtitle">
        <a href="/"><ruby>書名<rt>TITLE</rt></ruby></a>
        <span> / </span>
        <a href="/bukan/{{ title[2] }}"><ruby>{{ title[0] }}<rt>{{ title[2].upper() }}</rt></ruby></a>
        <span> / </span>
        <a href="/bukan/{{ "/".join(indexer) }}">{{ "{}_{:0>5}_{}.jpg".format(indexer[1], indexer[2], indexer[5]) + "⇆" + "{}_{:0>5}_{}.jpg".format(indexer[3], indexer[4], indexer[5]) }}</a>
      </p>
    </div>
  </section>
  <div class="columns is-vcentered">
    <div class="column">
      <a class="is-pulled-right is-link button is-outlined">ᐸ</a>
    </div>
    <div class="column">
      <canvas id="overlay" width="{{ width }}" height="{{ height }}" class="has-background-grey-light"></canvas>
    </div>
    <div class="column">
      <a class="is-pulled-left is-link button is-outlined">ᐳ</a>
    </div>
  </div>
  <img src="/matching/{{ "/".join(indexer) }}" id="sourceimage" hidden>
  <img src="/image/{{ "/".join(indexer[3:]) }}" id="targetimage" hidden>
</body>

</html>