<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ url_for('static', filename='bulma.css') }}">
  <title>武鑑 Exploring the Bukan Collection</title>
</head>

<body>
  <section class="section">
    <div class="container">
      <h1 class="title">武鑑 Exploring the Bukan Collection</h1>
      <p class="subtitle">
        <a href="/"><ruby>書名<rt>TITLE</rt></ruby></a>
      </p>
      <p class="content">
        These are different Bukan books. Each title has a number of editions that might differ. The page of each book might match a page of a different book of the same title because it was made using the same woodblock.
      </p>
      <table class="table" id="table">
        <thead>
          <tr>
            <td>Bukan Title</td>
            <td>in Hiragana</td>
            <td>in Romanji</td>
            <td>Number of Books</td>
          </tr>
        </thead>
        <tbody>
          {% for (kanji, hiragana, romanji), nr_books in bukans %}
          <tr>
            <td><a href="/bukan/{{ romanji }}">{{ kanji }}</a></td>
            <td>{{ hiragana }}</td>
            <td>{{ romanji  }}</td>
            <td>{{ nr_books }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </section>
  
</body>

</html>
